<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tox Nodes Status</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="page-header">
			<center>
				<h2>Tox Nodes Status</h2>
			</center>
		</div>
		<div class="row">
			<div class="panel panel-default" id="accordion">
				<table class="table table-collapse table-condensed" style="font-size:14px;">
					<thead>
						<tr>
							<th>IPv4</th>
							<th>IPv6</th>
							<th>Port</th>
							<th>Public Key</th>
							<th>Maintainer</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{{range .Nodes}}
						<tr class="collapsed" data-parent="#accordion" data-toggle="collapse" data-target="#collapse{{.PublicKey | html}}">
							<td>{{.Ipv4Address | html}}</td>
							<td>{{.Ipv6Address | html}}</td>
							<td>{{.Port | html}}</td>
							<td>{{.PublicKey | html}}</td>
							<td>{{.Maintainer | html}}</td>
							{{if .Status}}
							<td>
								<span style="color:green">ONLINE</span>
							</td>
							{{else}}
							<td>
								<span style="color:red">OFFLINE</span>
							</td>
							{{end}}
						</tr>
						<tr class="collapse" id="collapse{{.PublicKey | html}}">
							<td colspan="7">
								<div class="col-md-2">
									<dl>
										<dt>Location</dt>
										<dd>{{.Location | html}}</dd>
									</dl>
								</div>
								<div class="col-md-2">
									<dl>
										<dt>Last Ping</dt>
										<dd>{{.LastPingString | html}}</dd>
									</dl>
								</div>
								{{if ne .Version ""}}
								<div class="col-md-2">
									<dl>
										<dt>Version</dt>
										<dd>{{.Version | html}}</dd>
									</dl>
								</div>
								<div class="col-md-2">
									<dl>
										<dt>TCP</dt>
										{{if eq (.TCPPorts | len) 0}}
										<dd>-</dd>
										{{else}}
										<dd>
											{{range .TCPPorts}} {{.}}, {{end}}
										</dd>
										{{end}}
									</dl>
								</div>
								<div class="col-md-4">
									<dl>
										<dt>MOTD</dt>
										<dd style="white-space: pre-wrap;">{{.MOTD | html}}</dd>
									</dl>
								</div>
								{{end}}
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<a class="text-muted pull-left" href="/json">JSON</a>
			<a class="text-muted pull-right" target="_blank" href="https://github.com/Tox/ToxStatus">I'm open source!</a>
			<p class="text-muted text-center">Last successful scan: {{.LastScanString}}</p>
		</div>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		$('.collapse').on('show.bs.collapse', function() {
			$('.collapse.in').collapse('hide');
		});
	</script>
</body>

</html>
